In [1]:
import pandas as pd
import numpy as np
from sodapy import Socrata

In [2]:
client = Socrata("data.cityofchicago.org", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [19]:
metadata = client.get_metadata("6zsd-86xi")
{col['name'] : col['dataTypeName'] for col in metadata['columns']}

{'ID': 'number',
 'Case Number': 'text',
 'Date': 'calendar_date',
 'Block': 'text',
 'IUCR': 'text',
 'Primary Type': 'text',
 'Description': 'text',
 'Location Description': 'text',
 'Arrest': 'checkbox',
 'Domestic': 'checkbox',
 'Beat': 'text',
 'District': 'text',
 'Ward': 'number',
 'Community Area': 'text',
 'FBI Code': 'text',
 'X Coordinate': 'number',
 'Y Coordinate': 'number',
 'Year': 'number',
 'Updated On': 'calendar_date',
 'Latitude': 'number',
 'Longitude': 'number',
 'Location': 'point',
 'Location (city)': 'text',
 'Location (address)': 'text',
 'Location (zip)': 'text',
 'Location (state)': 'text',
 'Historical Wards 2003-2015': 'number',
 'Zip Codes': 'number',
 'Community Areas': 'number',
 'Census Tracts': 'number',
 'Wards': 'number',
 'Boundaries - ZIP Codes': 'number',
 'Police Districts': 'number',
 'Police Beats': 'number'}

In [3]:
crime = client.get("6zsd-86xi", where= "year = 2017 or year = 2018", limit = 10000)

# Convert to pandas DataFrame
crime_df = pd.DataFrame.from_dict(results)

In [4]:
crime_df.columns

Index(['arrest', 'beat', 'block', 'case_number', 'community_area', 'date',
       'description', 'district', 'domestic', 'fbi_code', 'id', 'iucr',
       'latitude', 'location', 'location_description', 'longitude',
       'primary_type', 'updated_on', 'ward', 'x_coordinate', 'y_coordinate',
       'year'],
      dtype='object')

In [5]:
crime_df.describe()

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year
count,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,...,9327,9327,9935,9327,10000,10000,10000,9327,9327,10000
unique,2,273,6655,9998,77,5864,197,23,2,23,...,8156,8156,105,8156,28,253,50,7398,7755,2
top,False,1834,001XX N STATE ST,JB143932,25,2017-01-01T00:01:00.000,SIMPLE,011,False,06,...,41.883500187,"{'type': 'Point', 'coordinates': [-87.62787669...",STREET,-87.627876698,THEFT,2017-02-14T15:49:42.000,42,1176352,1900927,2017
freq,7976,123,30,2,586,25,946,686,8329,2230,...,18,18,2292,18,2230,8124,626,24,18,9022

In [6]:
results_df.shape

(10000, 22)

In [12]:
results_df.year.describe()

count     10000
unique        2
top        2017
freq       9022
Name: year, dtype: object